@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #0ea5e9;
  --primary-hover: #0369a1;
  --secondary: #94a3b8;
  --secondary-hover: #475569;
  --background: #f2edf3;
  --background-card: #94a3b8;

  --border: #f6f1f6;
}
